@import url('https://fonts.googleapis.com/css?family=Ewert|Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Ewert|Playfair+Display|Roboto&display=swap');
/*Reset*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ewert', cursive;
    font-family: 'Playfair Display', serif;
}

a{
    text-decoration: none;
}

.fullscreen{
    width: 50vw;
    height: 100vh;
} 
h1{
font-family: 'Ewert', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Ewert', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;  
}

/* Agregar fondo */
section img {
    height: 80vh;
    width: 300vh;
    background-image: url(ronny-1.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x:right;
}
body img{
    height: 80vh;
    width: 50vh;  
}

  
