@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

/*Reset*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background:#fef5da; 
}
h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}
.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
header{
    /*bac*/
}

nav{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}
     nav a{
         text-decoration: none;
         color: #0f0202;
         margin:30px;
     }

/* canbiar color en el hover*/
nav a:hover{
    color: 		blue;
    border-bottom: solid 1px rgb(255, 0, 0);
}

section article div{
    width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}
section article div h1{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 40px;
}
section article div p{
    font-size: 14px;
    width: 75%;
    line-height: 25px;
    margin-bottom: 30px;
    
}
/* clase de utilidad*/
.btn{
    background:#FFFFFF;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(19, 18, 18);
    font-weight: bold;

}
.tex-orange{
    color: ;
}
.tex-darkgray{
    color:  #313243;
}
.tex-lightgray{
    color:rgb(61, 55, 55);
}


.bg-orange{
    background:#ff6394;
    font-weight: bold
}
.bg-darkgray{
    border: 1px solid; 
}
.bg-lightgray{
    background-color:#aaa;
}
/* Agregar fondo*/
section#principal{
    height: 100vh;
    background-image: url("hiring_artist.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    
}
footer a i{
    color: #0f0202;
    padding: 10px;
    margin: 10px;
}


