*{
    margin: 0;
    padding: 0;
}

body{
    background: #BDC3C7;
    font-family: Arial;
}
h1{
    color:#D23600
}
h2{
    color:#0003C7
}
h3{
    color: #0003C7
}
#biografia{
    background: #FF8C00
}
#imagenes{
    background: #dd7900
}
#carrera{
    background: #cc7000
}
#premios{
   background:  #bb6700
}
#vida_personal{
    background: #bb6700
}
#galeria_de_imagenes{
    background: #aa5d00
}

p{
    color: lightblue;
}

p{
    color: brown;
    font-size: 20px
}
/* Herencia*/                       
.text-black{
    color: #000;
}
/*Estilos para el menu*/
nav{
    background: #DDD;
    padding: 10px;
    border: solid 1px gray;
}
nav a {
    color:dodgerblue;
    padding: 5px;
    margin: 10px;
    border: solid 1px dodgerblue;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;

}
nav a:hover{
    background: dodgerblue;
    color: white;
}