*{
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    margin: 25px;
    padding: 105px;

    background: rgb(17, 1, 1);
    margin-left: 65px;
    margin-right: 130px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;

    border: solid 1px #707070;
    display: inline;
}
nav{
    background: rgb(248, 0, 0);
    width: 100vw;
    height: 80px;
    padding-top: 60px;
    padding-bottom: 1px;
    padding-left: 40px;
    padding-right: 40px;
    
}
body{
    background: #fbfcf9;
}
nav a {
    color: rgb(245, 241, 12);
    
}
nav a i{
    color: rgb(57, 77, 167);
}
#marco{
    margin: 50px;
    margin-left:500px; 
    background: #fff;
    height: 500px;
    width: 400px;
    overflow: hidden;
    border: 2px solid black
}